<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
@{
    Layout = null;
}
<div class="container-fluid bg-light ">
    <div class="row">
        <aside class="col-lg-4 col-sm-1"> </aside>
        <aside class="col-lg-4 p-5 col-sm-10">
            <div class="card">
                <article class="card-body">
                    <a href="" class="float-right btn btn-outline-primary">Zaten Üyeyim</a>
                    <h4 class="card-title mb-4 mt-1">Üye Olun</h4>
                  
                   
                    <hr>
                    <form>

                        <div class="form-group">
                            <input name="" class="form-control" placeholder="Email Adresiniz" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <input class="form-control" placeholder="Şifreniz" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <input class="form-control" placeholder="Tekrar Şifreniz" type="password">
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Üye Ol  </button>
                        </div> <!-- form-group// -->


                    </form>
                </article>
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
        <aside class="col-lg-4 col-sm-1"> </aside>

    </div> <!-- row.// -->
</div>
<!--container end.//-->
<br><br><br>
