
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dosya Ekle</h2>

@using (Html.BeginForm("DosyaEkle", "UsersAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>File:</td>
            <td>
                <input type="file" name="excelFile" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="btn btn-success" type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
}

